<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<meta charset="utf-8" />
		<link href="css/bExpediente-style.css" rel="stylesheet" />
		<title>Agregar o editar materia</title>
	</head>
	<script>
		$(document).ready(function(){
			var mat = document.getElementById("materia");
			var mate = document.getElementById("mate");
			if($("#idEstMat").val().length != 0){
				mat.innerHTML = "<input type='text' class='form-control' value='" + $("#matName").text() + "' readonly>";
				mate.innerHTML = "<input type='text' class='form-control' name='materia.idMateria' value='" + $("#materiaId").val() + "' hidden>";
				var mats = document.getElementById("mat");
				mats.parentNode.removeChild(mats);
				$("#mat").css("visibility","hidden");
			}
		})
	</script>
	<body>
		<div class="container-fluid">
			<nav class="navbar">
				<p class="navbar-brand">
				<img src="img/icono.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
				Agregar o editar materia
				</p>
			</nav>
			<div class="formularioWrapper">
				<div class="jumbotron">
					<h1 class="display-4" th:text="${dto.nombreEstudiante}"></h1>
					<p  id="matName" style="visibility: hidden;" th:text="${dto.nombreMateria}"></p>
					<form th:action= "@{/guardar_materia}" th:object="${estMat}" method= "post">
					  <div class="row">
						<div class="col">
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="materia.idMateria">Materia</label>
									<select id="mat" class="form-control" th:field="*{materia.idMateria}">
										<option th:each="materia:${materias}" th:value="${materia.idMateria}" th:text="${materia.nombre}"></option>
								   	</select>
								   	<p th:text="${materiaError}" style="color: #FF0000"></p><br>
									<div id="materia"></div>
									<div id="mate"></div>
								</div>
								<div class="form-group col-md-6">
									<label for="anio">Anio</label>
									<input type="number" class="form-control" th:field="*{anio}">
									<p th:text="${anioError}" style="color: #FF0000"></p><br>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="cicloCursado">Ciclo</label>
									<input type="text" class="form-control" th:field="*{cicloCursado}">
									<p th:text="${cicloError}" style="color: #FF0000"></p><br>
								</div>
								<div class="form-group col-md-8">
									<label for="nota">Nota</label>
									<input type="number" class="form-control" step="0.01" th:field="*{nota}">
									<p th:text="${notaError}" style="color: #FF0000"></p><br>
								</div>
							</div>
							<input type="hidden" id="idEstMat" th:field="*{idEstudianteMateria}"/>
							<input type="hidden" th:field="*{idEstudiante}"/>
							<input id="materiaId" type="hidden" th:field="*{idMateria}"/>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					  </div>
					</form>
				</div>
			</div>
		</div>
</body>
<footer>
	<div class="card"></div>
</footer>
</html>