<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- CSS only -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		
		<!-- JS, Popper.js, and jQuery -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		
		<meta charset="utf-8" />
		<link href="css/bExpediente-style.css" rel="stylesheet" />
		<title>Nuevo expediente</title>
	</head>
	<body>
		<script>
			$(document).ready(function(){
				if($("#id_cE").val() == ""){
					$("#hedit").hide();
					$("#hnew").show();
				}
				else{
					$("#hedit").show();
					$("#hnew").hide();
					$('#clean').hide();
				}
				
				$("#fNacimiento").change(function(){
					var fecha = new Date($("#fNacimiento").val());
					var fechaActual = new Date();
					var edad = 0;
					year = fecha.getFullYear();
					edad = fechaActual.getFullYear() - year;
					$("#edad").val(edad);
				})
	
				function getMunicipios(){
					$.ajax({
						type: "POST",
						url: './municipios',
						data: {idDep:idDep},
						success: function(res) {
							$('#municipio').empty();
							$('#municipio').append($("<option></option>").val(0).text("Seleccione un municipio"));
	
							$.each(res, function(key){
								$('#municipio').append($("<option></option>").val(res[key][0]).text(res[key][1]));
							})
							console.log(res);
						},
						error: function() {
							console.log("No se ha podido obtener la información");
						}
					});
				}

				function getEscuelas(){
					$.ajax({
						type: "POST",
						url: './cEscolares',
						data: {idMun:idMun},
						success: function(res) {
							$('#cEscolares').empty();
							$('#cEscolares').append($("<option></option>").val(0).text("Seleccione un centro escolar"));
	
							$.each(res, function(key){
								$('#cEscolares').append($("<option></option>").val(res[key][0]).text(res[key][1]));
							})
							console.log(res);
						},
						error: function() {
							console.log("No se ha podido obtener la información");
						}
					});
				}
	
				var idDep = $('#depa').val();
				getMunicipios()

				var idMun = $('#municipio').val();
				getEscuelas();
				
				$('#municipio').change(function(){
					idMun = $('#municipio').val();
					getEscuelas();
				})
				
				$('#depa').change(function(){
					idDep  = $('#depa').val();
					getMunicipios();
					$('#cEscolares').empty();
					$('#cEscolares').append($("<option></option>").val(0).text("Seleccione un centro escolar"));
				})

				
				
				$('#clean').click(function(){
					$('#nombre').empty();
					$('#apellido').empty();
					$('#fNacimiento').empty();
					$('#direccion').empty();
					$('#edad').empty();
					$('#cMin').empty();
					$('#tMovil').empty();
					$('#tFijo').empty();
					$('#cEscolares').empty();
					$('#nMadre').empty();
					$('#nPadre').empty();
				})
				
			});
		</script>
		

		<div class="container-fluid">
		
			<nav class="navbar navbar-light bg-light">
			  <a class="navbar-brand">Coordinador</a>
			  <div class="form-inline">
				  <a class="btn btn-secondary" href="/logout">Cerrar sesion</a>
				</div>
			</nav>
			
			<div class="content">
				<div class="jumbotron">
					<h3 class="display-4" id="hedit">Editar Expediente</h3>
					<h3 class="display-4" id="hnew">Crear un nuevo expediente</h3>
					<form th:action= "@{/expediente_guardado}" th:object="${estudianteNuevo}" method= "post">
						<div class="form-group col-md-2"> 
							<input type="text" class="form-control" id="id_cE" th:field="*{idEstudiante}"  name="idEstudiante"hidden> 
						  </div>
						<div class="form-row">
                            <div class="form-group col-md-6">
								<label for="nombre">Nombre</label>
								<input type="text" class="form-control" id="nombre" th:field="*{nombres}" name="nombres">
								<span class="number" th:errors="*{nombres}" style="color: #FF0000"></span><br>
							</div>
							<div class="form-group col-md-6">
								<label for="apellido">Apellido</label>
								<input type="text" class="form-control" id="apellido" th:field="*{apellidos}" name="apellidos">
								<span class="number" th:errors="*{apellidos}" style="color: #FF0000"></span><br>
							</div>
                        </div>
						<div class="form-row">
							<div class="form-group col-md-3">
								<label for="cMin">Carnet de minoridad</label>
								<input type="text" class="form-control" id="cMin" th:field="*{carnet}" name="carnet">
								<span class="number" th:errors="*{carnet}" style="color: #FF0000"></span><br>
							</div>
							<div class="form-group col-md-4">
								<label for="fNaciemiento">Fecha de Nacimiento</label>
								<input type="date" class="form-control" id="fNacimiento" name="fechaNac">
								<!--<span class="number" th:errors="*{fechaNac}" style="color: #FF0000"></span><br>-->
							</div>
							<div class="form-group col-md-2">
								<label for="edad">Edad</label>
								<input id="edad" type="number" class="form-control" name="edad" th:field="*{edad}"  readonly>
								<span class="number" th:errors="*{edad}" style="color: #FF0000"></span><br>
							</div>
							<div class="form-group col-md-3">
								<label for="tMovil">Telefono Movil</label>
								<input type="number" class="form-control" id="tMovil" name="tel_movil" th:field="*{tel_movil}">
								<span class="number" th:errors="*{tel_movil}" style="color: #FF0000"></span><br>
							</div>							
						</div>
						<div class="form-row">
							<div class="form-group col-md-8">
								<label for="direccion">Direccion</label>
								<input type="text" class="form-control" id="direccion" name="direccion" th:field="*{direccion}">
								<span class="number" th:errors="*{direccion}" style="color: #FF0000"></span><br>
							</div>
							<div class="form-group col-md-4">
								<label for="tFijo">Telefono Fijo</label>
								<input type="number" class="form-control" id="tFijo" name="tel_fijo" th:field="*{tel_fijo}">
								<span class="number" th:errors="*{tel_fijo}" style="color: #FF0000"></span><br>
							</div>						
						</div>
						<div class="form-row">
							<div class="form-group col-md-3">
								<label for="departamento">Departamento</label>
								<select id="depa" class="form-control" >
                                     <option th:each="dep:${dep}" th:value="${dep.idDepartamento}" th:text="${dep.nombre}"></option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="municipio">Municipio</label>
								<select id="municipio" class="form-control">
									<option th:each="dep:${dep}" th:value="${dep.idDepartamento}" th:text="${dep.nombre}"></option>
								</select>
							</div>
							<div class="form-group col-md-5">
								<label for="cEscolares">Centros Escolares</label>
								<!--combobox centros escolares-->
								<select  class="form-control" id="cEscolares" th:field="*{centroEscolar.idEscolar}"> 
								  <option th:each="dep:${dep}" th:value="${dep.idDepartamento}" th:text="${dep.nombre}"></option>
								</select>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="nMadre">Nombre de la madre</label>
								<input type="text" class="form-control" id="nMadre" name="nombreMadre" th:field="*{nombreMadre}">
								<span class="number" th:errors="*{nombreMadre}" style="color: #FF0000"></span><br>
							</div>
							<div class="form-group col-md-6">
								<label for="nPadre">Nombre del padre</label>
								<input type="text" class="form-control" id="nPadre" name="nombrePadre" th:field="*{nombrePadre}">
								<span class="number" th:errors="*{nombrePadre}" style="color: #FF0000"></span><br>
							</div>
						</div>
						<hr class="my-4">
						<a class="btn btn-secondary btn-lg" href="/buscar_o_agregar_alumnos">Volver</a>
						<button type="submit" class="btn btn-primary btn-lg">Guardar</button>
						<button id="clean" class="btn btn-primary btn-lg">Limpiar</button>
					</form>
				</div>					
			</div>
		</div>
	</body>
	<footer>
		<div class="card">
		</div>
	</footer>
</html>