<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Expediente Alumnos</title>
</head>
<body>
	<div class="container" style="margin-top: 5em">
		<div class="row align-items-center justify-content-md-center">
			<table class="table table-hover">
				<thead>
					<th scope="col">Accion</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
					<th scope="col">Materias Aprobadas</th>			
					<th scope="col">Materias Reprobadas</th>
					<th scope="col">Promedio</th>
				</thead>
					<th:block th:each="libro, row:${listado}">
						<tr>
							<th scope="row" th:text="${libro.s_titulo}"/>
							<th th:text="${libro.s_autor}"/>
							<th th:text="${libro.s_isbn}"/>
							<th th:text="${libro.categoria.s_categoria}"/>
							<th th:text="${libro.f_ingreso}"/>
							<th th:text="${libro.EstadoDelegate}"/>
						</tr>
					</th:block>
			</table>
		</div>
	</div>
</body>
</html>