<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- CSS only -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		
		<!-- JS, Popper.js, and jQuery -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<meta charset="utf-8" />
		<link href="css/catalogo-style.css" rel="stylesheet" />
		<title>Catalogo Materia</title>
	</head>
	<body>
		
		<div class="container-fluid">		
			<nav class="navbar navbar-light bg-light">
			  <a class="navbar-brand">Administrador</a>
			  <form class="form-inline">
			    <div class="btn-group dropleft">
				  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Opciones
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="#">Configuracion de cuenta</a>
				    <a class="dropdown-item" href="#">Cerrar sesión</a>
				    
				  </div>
				</div>
			  </form>
			</nav>
			<a href="/nuevo_catalogo_materia"><button type="button" class="btn btn-danger" id="new">Insertar una nueva materia</button></a>
			<div class="content">
				<table class="table table-hover">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col">Acción</th>
				      <th scope="col">Código</th>
				      <th scope="col">Descripción</th>
				      <th scope="col">Estado</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<th:block th:each="materia, row:${materias}">
						<tr>
							<td><button class="btn btn-primary" type="button">Editar</button></td>
							<th th:text="${materia.idMateria}"/>
							<th th:text="${materia.nombre}"/>
							<th th:text="${materia.estadoDelegate}"/>
						</tr>
					</th:block>
				  </tbody>
				</table>
								
			</div>

		</div>

	</body>
</html>